<div class="cForm">
    <h2 style="font-weight:bold;">We would like to hear from you!</h2>
    <p>Please contact us with your questions or any feedback</p>
    <div class="cDetails">
        <div class="form-group">
            <label class="form-label">Name<span class="Asterix">*</span></label>
            <input class="form-control" placeholder="Enter your Name" required>

        </div>
        <div class="form-group">
            <label class="form-label">Company<span class="Asterix">*</span></label>
            <input class="form-control" placeholder="Enter your Company name">
        </div>
    </div>
    <div class="cContact">
        <div class="form-group">
            <label class="form-label">Email<span class="Asterix">*</span></label>
            <input class="form-control" placeholder="Enter your Email">
        </div>
        <div class="form-group">
            <label class="form-label">Phone number<span class="Asterix">*</span></label>
            <input class="form-control" placeholder="Enter your contact number">
        </div>
    </div>
    <div class="i form-group">
        <label class="form-label">Your Subject<span class="Asterix">*</span></label>
        <input class="form-control" placeholder="Subject">
    </div>
    <div class="i form-group">
        <label class="form-label">Message<span class="Asterix">*</span></label>
        <textarea class="form-control" placeholder="Enter your message"></textarea>
    </div>
    <div class="cSubmit">
        <div class="cSubmitButton">
            <button class="btn btn-primary">SEND MESSAGE</button>
        </div>
        <div class="cAddress">
            <h5>ADDRESS</h5>
            <h7>Global Weld Management</h7>
            <h7>Itasca, IL 60143</h7>
            <h7>USA</h7>
            <h7>P +1 (847) 250-5240</h7>
        </div>
    </div>
</div>