<div>
    <img src="~/images/homeImage.png" class="d-block w-100 customizeImage" alt="welding Image">
</div>
<div class="caContentDivs">
    <div class="caContent">
        <h2>Central Application</h2>
        <p style="margin-top: 0.5rem;">Managing multiple manufacturing sites, either within a corporation or with
            supply
            chain management, was never
            easier. With a multi-site license, you can define how many of the locations shall be grouped in a
            central
            administration or are operating independently. Central administration provides the opportunity to
            leverage
            experience, share approvals, and managing a joint set of library entrances. Even though every central
            administration member shares its site information, the ownership of welding approvals remains in control
            of
            the
            initiating site.</p>

    </div>
    <div class="caImagesDiv">
        <div class="card" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <img src="~/images/advantages.webp" alt="sample image">
            <div class="overlay-text">ADVANTAGES</div>
            <div class="imageInfo">
                <h6>> Central Quality Management</h6>
                <h6>> Shared Libraries</h6>
                <h6>> Joint Welding Process Approval</h6>
                <h6>> Independent Site Management</h6>
            </div>
        </div>
        <div class="card" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <img src="~/images/enhanceClarity.png" alt="sample image">
            <div class="overlay-text">ENHANCE CLARITY</div>
            <div class="imageInfo">
                <h6>> Teamwork without Borders</h6>
                <h6>> Supplier Control for Base & Filler Material</h6>
                <h6>> Centralizing Approval Agnecies</h6>
                <h6>> Increased Customre Trust</h6>
            </div>
        </div>
        <div class="card" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <img src="~/images/networkingAndTeams.webp" alt="sample image">
            <div class="overlay-text">NETWORKING & TEAMS</div>
            <div class="imageInfo">
                <h6>> Multi-Site Expert Integration</h6>
                <h6>> User Management</h6>
                <h6>> Corporate Identity</h6>
                <h6>> Control of Standards</h6>
            </div>
        </div>
        <div class="card" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <img src="~/images/teamWork.png" alt="sample image">
            <div class="overlay-text">TEAM WORK</div>
            <div class="imageInfo">
                <h6>> Central Management & Administration</h6>
                <h6>> Collective Data Capture</h6>
                <h6>> Global Knowledge Sharing</h6>
                <h6>> All-in-one Tool</h6>
            </div>
        </div>

    </div>
</div>
<div class="percentageResults">
    <div class="headingText">
        Drive results with our SaaS application
        <hr>
    </div>
    <div class="resultsWindow">
        <div class="resultDescriptions">
            <div class="percentage">
                <h1>18%</h1>
            </div>
            <h5>Increase sales</h5>
            <p>Inspire customers to join your team</p>
        </div>
        <div class="resultDescriptions">
            <div class="percentage">
                <h1>50%</h1>
            </div>
            <h5>Decrease travel & cost</h5>
            <p>Reduce the frequent site visits</p>
        </div>
        <div class="resultDescriptions">
            <div class="percentage">
                <h1>30%</h1>
            </div>
            <h5>Cut project time</h5>
            <p>Add experts on-the-go</p>
        </div>
        <div class="resultDescriptions">
            <div class="percentage">
                <h1>57%</h1>
            </div>
            <h5>Enhance clarity</h5>
            <p>Borderless teamwork with language options</p>
        </div>
    </div>

</div>

<div class="contentDesc1">
    <div class="textInfo">
        <h2>A Powerful Application</h2>
        <p>The world is becoming increasingly interconnected and brings together experts from all over the world.
            Project clarity must be managed effectively across international borders, and language barriers must become
            a non-critical factor.
            All projects should be focusing on solutions that support a cost-effective conversion of engineering
            demands, code compliance, quality objectives, savings, and timelines that satisfy the customer.
        </p>
    </div>
    <div class="imageArea">
        <img src="~/images/powerfulApp.png" alt="image" />
    </div>
</div>
<div class="weldingCC">
    <h2 style="padding-bottom:1rem;">Welding Codes & Customization</h2>
    <p style="margin-top: 0.5rem;">Your business is most important. We designed this application to support your
        requirements in any way
        possible. Adding welding codes from other countries, or customizing the range of qualifications to your
        needs, is part of our portfolio.</p>
    <div class="weldingCodes">
        <div class="pop-up-on-hover">
            <h1>ASME</h1>
            <span class="popover-text">American Society of Mechanical Engineers</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>AWS</h1>
            <span class="popover-text">American Welding Society</span>
        </div>
        <div class="pop-up-on-hover">
            <h1> ISO</h1>
            <span class="popover-text">Including EN ISO editions approved through CEN</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>New</h1>
            <span class="popover-text">We implement your welding specification</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>pWPS</h1>
            <span class="popover-text">preliminary WPS</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>PQR</h1>
            <span class="popover-text">Welding Procedure Qualification Records</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>WPS</h1>
            <span class="popover-text">Welding Procedure Specification</span>
        </div>
        <div class="pop-up-on-hover">
            <h1>WPQ</h1>
            <span class="popover-text">Welder Performance Qualification Records</span>
        </div>
    </div>

</div>
<div>
    <div class="solutionDiv">
        <h2>Solution to Industries</h2>
        <h5>Global Weld Management (GWM) can be applied to all industries which utilize welding</h5>
    </div>
    <div class="Container">
        <div id="movingContainer" class="industryDiv">
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/chemical.png" alt="image">
                </div>
                <h6>Chemical</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/energy.png" alt="image">
                </div>
                <h6>Energy</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/settings.png" alt="image">
                </div>
                <h6>OEM Sector</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/paper.png" alt="image">
                </div>
                <h6>Paper and Pulp</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/pill.png" alt="image">
                </div>
                <h6>Pharmaceutical</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/transportation.png" alt="image">
                </div>
                <h6>Transportation</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/fossilePlants.png" alt="image">
                </div>
                <h6>Plants & Equipment</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/gas.png" alt="image">
                </div>
                <h6>Petrol & Gas</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/oilIndustry.png" alt="image">
                </div>
                <h6>Fossil</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/bridge.png" alt="image">
                </div>
                <h6>Structural & Civil</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/stationare.png" alt="image">
                </div>
                <h6>Stationaire</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/ship.png" alt="image">
                </div>
                <h6>Ships</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/train.png" alt="image">
                </div>
                <h6>Trains</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/spaceshuttle.png" alt="image">
                </div>
                <h6>Aerospace</h6>
            </div>
            <div class="industryDivs">
                <div class="iImageDiv">
                    <img src="~/images/industries/automobile.png" alt="image">
                </div>
                <h6>Automobile</h6>
            </div>
        </div>
    </div>
</div>

<div class="cForm">
    <h2 style="font-weight:bold;">We would like to hear from you!</h2>
    <p>Please contact us with your questions or any feedback</p>
    <div class="cDetails">
        <div class="form-group">
            <label>Name<span class="Asterix">*</span></label>
            <input class="form-control" placeholder="Enter your Name">
        </div>
        <div class="form-group">
            <label>Company<span class="Asterix">*</span></label>
            <input class="form-control" placeholder="Enter your Company name">
        </div>
    </div>
    <div class="cContact">
        <div class="form-group">
            <label>Email<span class="Asterix">*</span></label>
            <input class="form-control" placeholder="Enter your Email">
        </div>
        <div class="form-group">
            <label>Phone number<span class="Asterix">*</span></label>
            <input class="form-control" placeholder="Enter your contact number">
        </div>
    </div>
    <div class="i form-group">
        <label>Your Subject<span class="Asterix">*</span></label>
        <input class="form-control" placeholder="Subject">
    </div>
    <div class="i form-group">
        <label>Message<span class="Asterix">*</span></label>
        <textarea class="form-control" placeholder="Enter your message"></textarea>
    </div>
    <div class="cSubmit">
        <div class="cSubmitButton">
            <button class="btn btn-primary">SEND MESSAGE</button>
        </div>
        <div class="cAddress">
            <h5>ADDRESS</h5>
            <h7>Global Weld Management</h7>
            <h7>Itasca, IL 60143</h7>
            <h7>USA</h7>
            <h7>P +1 (847) 250-5240</h7>
        </div>
    </div>
</div>


<script>
    const colors = [
        { bgColor: '#080474', textColor: "#046307" }
    ];

    const percentages = document.querySelectorAll('.resultsWindow .percentage');
    let currentIndex = 0;

    function updateColors() {
        // Reset all
        percentages.forEach(percentage => {
    @* percentage.style.backgroundColor = ''; *@
                percentage.style.color = '';
        });

        // Apply new styles to current index
        const currentColorScheme = colors[currentIndex % colors.length];
    @* percentages[currentIndex % percentages.length].style.backgroundColor = currentColorScheme.bgColor; *@
            percentages[currentIndex % percentages.length].style.color = currentColorScheme.textColor;

        // Move to the next item
        currentIndex++;
    }

    // Initial call
    updateColors();

    // Continue updating every 5 seconds
    setInterval(updateColors, 5000);

    function hoverEffect(element) {
        element.querySelector('img').style.opacity = "0.1";
    }

    function normalEffect(element) {
        element.querySelector('img').style.opacity = "1";
    }
</script>
