html {
  font-size: 1rem;
}

.btn-primary {
  background-color: #080474;
  border: #080474;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

a {
  text-decoration: none;
  color: #080474;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: flex;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* main header CSS*/

.mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  background-color: #080474;
}

#company {
  display: flex;
}

.cLogo {
  margin-top: 0.25rem;
  height: 2rem;
  width: 2rem;
}

#companyTitle {
  margin-top: 0.25rem;
  padding-left: 0.25rem;
  font-size: 1.25rem;
  color: white;
}

.menu-btn {
  color: white;
  display: none;
}

#collapsibleMenu i {
  font-size: 1.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  right: 0;
  background-color: #F5F5F5;
  transition: width 0.3s;
}

.mainOptions {
  padding: 1rem 0 1rem 1rem;
}

.mainOptions a * {
  color: #080474;
}

.mainOptions a:active * {
  color: #258cfb;
}

/* ********* */

/* Side Nav bar CSS  */

.mainContainer {
  margin-top: 2.5rem;
  display: flex;
  height: 100vh;
}

.menuBar {
  position: fixed;
  z-index: 10;
  width: 205px;
  height: 95%;
  margin-top: 2.5rem;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e6e3e3c1;
  transition: width 0.3s;
  flex-grow: 0;
}

.menuBar i {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.menuBar a * {
  color: #080474;
}

.menuBar a:hover {
  background-color: #080474;
}

.menuBar a:hover * {
  color: white;
}

/* Adjusting Menu items logo and text */
.homeIcon {
  font-size: 2rem;
}

.homeText {
  margin-top: 1rem;
  margin-left: 2px;
}

.loginIcon {
  font-size: 2rem;
  margin-left: 3px;
}

.loginText {
  margin-top: 16px;
  margin-left: 6px;
}

.contactIcon {
  font-size: 2rem;
  margin-left: 5px;
}

.contactText {
  margin-top: 16px;
  margin-left: 6px;

}

.aboutIcon {
  margin-left: 3px;
  font-size: 2rem;
}

.aboutText {
  margin-top: 15px;
  margin-left: 4px;
}

.phoneIcon {
  font-size: 2rem;
  margin-left: 4px;
}

.phoneText {
  margin-top: 12px;
  margin-left: 2px
}

.facebookIcon {
  font-size: 2rem;
  margin-left: 7px;
}

.facebookText {
  margin-top: 16px;
  margin-left: 9px;
}

.twitterIcon {
  font-size: 2rem;
  margin-left: 4px;
}

.twitterText {
  margin-top: 15px;
  margin-left: 2px;
}

.linkedinIcon {
  font-size: 2rem;
  margin-left: 5px;
  margin-bottom: 4px;
}

.linkedinText {
  margin-top: 15px;
  margin-left: 6px;
}

/* Collapse action properities */
.menuBar ul li a {
  white-space: nowrap;
  overflow: hidden;
}

.collapsed+.bodyContainer {
  margin-left: 50px;
}

/* ************* */

.bodyContainer {
  margin-left: 205px;
  display: flex;
  flex-direction: column;
}

/* Search and language div */

.searchLanguage {
  display: flex;
  padding-top: 0.5rem;
}

.search-container {
  display: flex;
  min-width: 190px;
  margin: 0.25rem;
  margin-left: 0.75rem;
  flex-grow: 1;
}

.search-input {
  padding: 0.25rem 0.5rem;
  border: 1px solid #F5F5F5;
  border-radius: 0.875rem;
  width: 80%;
  background: #e6e3e3c1;
}

.search-button {
  padding: 0.25rem;
  color: #080474;
}

.search-input:focus {
  background-color: #fff;
}

.search-button:hover {
  color: #0d6efd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin: 0.25rem;
  padding-right: 0.75rem;
}

.dropbtn {
  background-color: #080474;
  color: white;
  padding: 6px;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F5F5F5;
  min-width: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  right: 0;
  white-space: nowrap;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 0.75rem;
  display: block;
  color: #080474 !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #0d6efd !important;
}

/* Show the dropdown menu on click */
.show {
  display: block;
}

/* ********** */


.websiteContent {
  margin: 0.875rem;
}

/* Home default Image  */

.customizeImage {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  max-height: 24rem;
}

/* ****** */

/* Central Application Div */
.caContentDivs {
  display: flex;
  padding: 1rem;
}

.caContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caImagesDiv {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 0.25rem;
  position: relative;
  width: 18rem;
  height: 12rem;
}

.card img {
  height: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.imageInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(8, 4, 116, 0.5);
  z-index: 1;
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.imageInfo h6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.card:hover img {
  transform: scale(1.15);
  z-index: 100;
}

.card:hover .imageInfo {
  transform: scale(1.15);
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.card:hover .overlay-text {
  height: fit-content;
  z-index: 100;
}

/* ********* */

/* drive Saas div CSS  */

.percentageResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  flex: 1;
}

.headingText {
  padding-top: 0.75rem;
  font-size: 2rem;
  font-weight: 500;
}

.percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #080474;
}

.resultsWindow {
  display: flex;
  padding: auto;
  flex: 1;
}

.resultDescriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  min-width: 18rem;

}

.resultDescriptions h1 {
  font-size: 4rem;
}

/* ****** */

/* Powerful app Div CSS  */

.contentDesc1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
}

.textInfo {
  display: flex;
  flex-direction: column;
}

.imageArea * {
  height: 20rem;
  width: 20rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ******* */

/* Welding Code customization CSS  */

.weldingCC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  padding: 0.75rem 0.25rem;
}

.weldingCodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weldingCodes div {
  background-color: white;
  width: 14rem;
  height: 8rem;
  padding: 1.5rem 2rem;
  margin: 0.25rem;
}

.weldingCodes h1 {
  font-size: 4rem;
  color: #080474;
}

.pop-up-on-hover {
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}

.popover-text {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 5px;
  color: #fff;
  background: #000;
  border-radius: 3px;
  white-space: nowrap;
}

.pop-up-on-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pop-up-on-hover:hover .popover-text {
  display: block;
}

/* ****** */


/* solution infinite loop div CSS  */
.solutionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
}

.Container {
  min-height: 10rem;
  position: relative;
  overflow: hidden;
}

.industryDiv {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  background-color: #F5F5F5;
  min-height: 10rem;
}

.industryDiv img {
  height: 5rem;
  width: 5rem;
}

.industryDivs {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  min-width: 10rem;
}

.industryDivs h6 {
  padding-top: 0.25rem;
}

.iImageDiv {
  border-radius: 50%;
  background-color: white;
  padding: 0.25rem;
}

/* ******** */

/* LOGIN PAGE CSS */

.mainLoginDiv {
  display: flex;
  flex-direction: column;
}

.loginArea {
  display: flex;
}

.credentialsDiv {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000;
  padding: 0.5rem 2rem;
}

.form-group {
  position: relative;
  padding: 0.25rem;
  width: 20rem;
}

.toggle-password {
  position: absolute;
  left: 17.85rem;
  bottom: 1.35rem;
  height: 1rem;
  width: 1rem;
}

.toggle-password img {
  width: 2rem;
  height: 2rem;
}

.password-input {
  padding-right: 2rem;
}

.socialLogin {
  display: flex;
  flex-direction: column;
  margin: 1.75rem 2rem;
}

.socialLogin div {
  display: flex;
  border-radius: 0.25rem;
  background-color: #F5F5F5;
  margin: 0.5rem;
  padding-left: 0.15rem;
}

.socialLogin a:hover * {
  color: #0d6efd;
}

/* ************* */

/* Registartion Page CSS */

.registrationForm {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 0.5rem;
}

.registrationDiv {
  display: flex;
  justify-content: space-around;
}

.registrationHeading {
  display: flex;
  justify-content: center;
}

.registrationDiv span {
  font-size: 0.75rem;
}

.registrationDiv label span {
  font-size: 1rem;
}


/* *********** */

/* Contact Form CSS */

.cForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  padding: 1rem 0;
}

.cformHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cDetails,
.cContact {
  display: flex;
}

.i {
  width: 40rem;
}

.i textarea {
  min-height: 8rem;
}

.cSubmit {
  display: flex;
  justify-content: space-between;
}


.cAddress {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.cSubmitButton {
  margin: 1rem 16rem 2rem 0.25rem;
  max-width: 12rem;
  max-height: 2.5rem;
}

.Asterix {
  padding-left: 5px;
  color: #F00;
}

/* printing the contact form CSS  */
.printButtons {
  background-color: #F5F5F5;
  text-align: end;
  padding: 0.5rem;
}

.printHeaderDiv {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin-bottom: 0.75rem;
}

.pCompanyTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #080474;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pCompanyAddress {
  display: flex;
  margin-left: 5rem;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;

}

.formDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.Format {
  display: flex;
}

.Format label {
  min-width: fit-content;
}

.dotted-line {
  border: none;
  /* Removes the default border */
  border-top: 2px dotted #000;
  /* Creates the dotted line */
  color: #fff;
  /* Legacy property for older browsers; should match the page's background */
  background-color: #fff;
  /* Ensures the old border doesn't show up */
  width: 100%;
  height: 1px;
  padding: 0.5rem;
  /* Sets the height of the line */
  margin-top: 1rem;
  /* Spacing above the line */
  margin-bottom: 0.75rem;
  /* Spacing below the line */
}

.printFooterDiv {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 0.5rem 0.25rem;
}

.footerWebsiteLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerSocialLinks {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.printFooterDiv img {
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  padding: 0.25rem;
}

#printingForm {
  display: none;
}

/* **** */

/* ********/

/* Footer Css customizing */

.customizeFooter {
  padding: 0.25rem;
}

.customizeFooter li * {
  color: #080474 !important;
}

.customizeFooter a:hover {
  color: #0d6efd !important;
}

/* ******* */

/* **************************** */

/* CSS MEDIA QUERIES */
@media (max-width:992px) {
  .mainHeader {
    justify-content: space-between;
  }

  #company {
    padding-left: 0.25rem;
  }

  #companyLogo {
    display: none;
  }

  .menu-btn {
    display: inline;
    margin-top: 0.1rem;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .menuBar {
    display: none;
  }

  .searchLanguage {
    padding-right: 0;
  }

  .bodyContainer {
    margin-left: 0;
  }

  #carouselExampleCaptions {
    display: none;
  }

  .resultsWindow {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contentDesc1 {
    flex-direction: column;
  }

  .resultDescriptions {
    height: 12rem;
    padding: 0;
  }

  .headingText {
    font-size: 1.5rem;
  }

  .weldingCodes div {
    height: 6rem;
    width: 10rem;
    margin: 0.5rem;
    padding: 1rem;
  }

  .weldingCodes h1 {
    font-size: 3rem;
  }

  .weldingCodes span {
    font-size: 0.65rem;
  }

  .credentialsDiv {
    padding: 0 0.5rem 0 0;
  }

  .caContentDivs {
    flex-direction: column;
    align-items: center;
  }

  .caContent {
    width: 100%;
  }

  .socialLogin {
    margin: 0.5rem 0;
  }
}

@media (max-width:576px) {

  html {
    font-size: 14px;
  }

  .homeImage {
    display: none;
  }

  .card {
    width: 22rem;
    height: 14rem;
  }

  .caImagesDiv {
    margin-left: 0;
  }

  .weldingCC p {
    margin: 0 0.5rem;
  }

  .weldingCodes h2 {
    font-size: 1.4rem;
  }

  .registrationDiv {
    flex-direction: column;
  }

  .headingText {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .imageArea * {
    height: 15rem;
    width: 15rem;
  }

  .textInfo {
    align-items: center;
  }

  .resultsWindow {
    display: flex;
    flex-direction: column;
  }

  .mainLoginDiv {
    align-items: center;
  }

  .loginArea {
    flex-direction: column;
    align-items: center;
  }

  .credentialsDiv {
    border-right: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
    ;
  }

  .cForm {
    padding: 0.5rem 0;
  }

  .cForm p {
    font-size: 0.75rem;
  }

  .cDetails {
    flex-direction: column;
    width: max-content;
  }

  .cContact {
    flex-direction: column;
  }

  .cSubmit {
    flex-direction: column;
    padding: 0.5rem;
  }

  .cSubmitButton {
    margin: 0;
  }

  .i {
    width: 20rem;
  }
}

@media print {
  a {
    color: #258cfb !important;
  }

  p {
    margin-bottom: 0;
  }

  .mainHeader,
  .menu,
  .menuBar,
  .searchLanguage,
  .d-print-none,
  #printV1,
  #printV2,
  .cForm {
    display: none;
  }

  #printingForm {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}