html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn-primary {
  background-color: #080474;
  border: #080474;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



a {
  text-decoration: none;
  color: #080474;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: flex;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  /* Optional: Inherit the font color from the parent element */
  font: inherit;
  /* Optional: Inherit the font from the parent element */
  cursor: pointer;
  /* Optional: To keep the cursor as pointer to indicate it's clickable */
  outline: inherit;
  /* Optional: Use the parent's focus outline */
}

/* main header */

.mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  background-color: #080474;
}

#company {
  max-height: 1.5rem;
  display: flex;
}

.cLogo {
  margin-top: 0.25rem;
  height: 2rem;
  width: 2rem;
}

#companyTitle {
  margin-top: 0.25rem;
  padding-left: 0.25rem;
  font-size: 1.25rem;
  color: white;
}

.menu-btn {
  color: white;
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  right: 0;
  margin-top: 2.5rem;
  top: 0;
  overflow-y: auto;
  justify-content: space-between;
  background-color: #F5F5F5;
  position: fixed;
  transition: width 0.3s;
}

.mainOptions a * {
  color: #080474;

}

/* When you mouse over the navigation links, change their color */
.mainOptions a:active * {
  color: white;
  background-color: #080474;
}


#languageHolder {
  border: #F5F5F5;
}

#languageSelector {
  color: white;
  padding-right: 2rem;
}

.mainContainer {
  margin-top: 2.5rem;
  display: flex;
  height: 100vh;
}

/* menu content */
.menuBar {
  position: fixed;
  z-index: 10;
  margin-top: 2.5rem;
  top: 0;
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 205px;
  height: 95%;
  background-color: #e6e3e3c1;
  position: fixed;
  transition: width 0.3s;
  flex-grow: 0;
}


.menuBar i {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.menuBar a * {
  color: #080474;
}

.menuBar a:hover {
  background-color: #080474;
}

.menuBar a:hover * {
  color: white;
}


/* Adjusting Menu items logo and text */
.homeIcon {
  font-size: 2rem;
}

.homeText {
  margin-top: 16px;
  margin-left: 2px;
}

.loginIcon {
  font-size: 2rem;
  margin-left: 3px;
}

.loginText {
  margin-top: 16px;
  margin-left: 6px;
}

.contactIcon {
  font-size: 2rem;
  margin-left: 5px;
}

.contactText {
  margin-top: 16px;
  margin-left: 6px;

}

.aboutIcon {
  margin-left: 3px;
  font-size: 2rem;
}

.aboutText {
  margin-top: 15px;
  margin-left: 4px;
}

.phoneIcon {
  font-size: 2rem;
  margin-left: 4px;
}

.phoneText {
  margin-top: 12px;
  margin-left: 2px
}

.facebookIcon {
  font-size: 2rem;
  margin-left: 7px;
}

.facebookText {
  margin-top: 16px;
  margin-left: 9px;
}

.twitterIcon {
  font-size: 2rem;
  margin-left: 4px;
}

.twitterText {
  margin-top: 15px;
  margin-left: 2px;
}

.linkedinIcon {
  font-size: 2rem;
  margin-left: 5px;
  margin-bottom: 4px;
}

.linkedinText {
  margin-top: 15px;
  margin-left: 6px;
}


/* Collapse action properities */
.menuBar ul li a {
  white-space: nowrap;
  overflow: hidden;
}

.collapsed .menuText {
  opacity: 0;
}

.menuText {
  transition: opacity 0.3s;
}

.bodyContainer {
  flex-grow: 1;
  margin-left: 205px;
  display: flex;
  flex-direction: column;
}

.collapsed+.bodyContainer {
  margin-left: 50px;
}

.searchLanguage {
  display: flex;
  padding-top: 0.5rem;
  padding-right: 1rem;
  justify-content: space-between;

}

.search-container {
  display: flex;
  min-width: 190px;
  margin: 0.25rem;
  margin-left: 0.5rem;
  flex-grow: 1;
}

.search-input {
  padding: 0.25rem;
  /* font-size: 1px; */
  border: 1px solid #F5F5F5;
  border-radius: 0.875rem;
  width: 80%;
  /* You can adjust the width as needed */
  background: #e6e3e3c1;
}

.search-button {
  float: left;
  width: 2rem;
  /* Width of the search button */
  padding: 0.25rem;
  color: #080474;
  font-size: 1rem;
  border-left: none;
  cursor: pointer;
}

.search-input:focus {
  outline: none;
  /* Removes the outline around the input when focused */
  background-color: #fff;
}

.search-button:hover {
  color: #0d6efd;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #080474;
  color: white;
  padding: 6px;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin: 0.25rem;
  position: relative;
  display: inline-block;
  padding-right: 0.5rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F5F5F5;
  min-width: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  right: 0;
  white-space: nowrap;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 12px 12px 8px;
  display: block;
  color: #080474 !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #0d6efd !important;
}

/* Show the dropdown menu on click */
.show {
  display: block;
}

.websiteContent {
  margin: 0.25rem;
  /* background-color: #258cfb; */
}

.customizeImage {
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  max-height: 432px;
  margin: 0.5rem;
  padding-right: 1rem;
}

.customizeFooter {
  margin: 0.25rem 0.05rem;
  padding: 0.25rem;
  padding-top: 0.5rem;
}

.customizeFooter li * {
  color: #080474 !important;
}

.customizeFooter a:hover {
  color: #0d6efd !important;
}

.percentageResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  margin: 0.5rem;
  flex: 1;
}

.headingText {
  font-size: 2rem;
  font-weight: 500;
}

.percentage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultsWindow {
  display: flex;
  padding: auto;
  flex: 1;
}

.resultDescriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15rem;
  min-width: 18rem;

}

.resultDescriptions h5 {
  padding: 0.25rem;
}

.resultDescriptions h1 {
  font-size: 4rem;
}


.percentage {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  /* background-color: white; */
  color: #080474;
}

.weldingCC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  margin: 0.5rem;
  padding: 0.75rem;
}

.weldingCodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.weldingCodes div {
  background-color: white;
  width: 14rem;
  height: 8rem;
  padding: 1.5rem 2rem;
  margin: 0.25rem;
}

.weldingCodes h1 {
  font-size: 4rem;
  color: #080474;
}

.pop-up-on-hover {
  transition: transform 0.3s ease;
  /* Animation time and easing function */
  /* Ensure that the div has a stacking context for the z-index to work */
  position: relative;
  z-index: 1;
}

.popover-text {
  position: absolute;
  bottom: 100%;
  /* Position above the div */
  left: 50%;
  /* Center the popover */
  transform: translateX(-50%);
  /* Center align the popover */
  display: none;
  padding: 5px;
  color: #fff;
  background: #000;
  border-radius: 3px;
  z-index: 2;
  /* Make sure it's above the div */
  white-space: nowrap;
  /* Keep the text on one line */
}

.pop-up-on-hover:hover {
  transform: translateY(-5px);
  /* Adjust the value to control the pop-up effect */
  /* Optional: add a shadow for more depth */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.pop-up-on-hover:hover .popover-text {
  display: block;
}

.contentDesc1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
}

.textInfo {
  display: flex;
  flex-direction: column;
}

.textInfo * {
  padding: 0 2rem 0 0;
}

.imageArea * {
  height: 20rem;
  width: 20rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* Central Application Div */

.caContentDivs {
  display: flex;
  margin: 1rem 1rem;
}

.caContent {
  width: 80%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.caContent p {
  padding-top: 0.5rem;
}

.caImagesDiv {
  margin-left: 4rem;
  display: inline-flex;
  flex-wrap: wrap;
}

.card {
  margin: 0.25rem;
  position: relative;
  width: 18rem;
  height: 12rem;
}

.card img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}


.imageInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(8, 4, 116, 0.5);
  z-index: 10;
  color: white;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  justify-content: center;
  padding-left: 1rem;
}

.imageInfo h6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.card:hover img {
  transform: scale(1.15);
  z-index: 10;

}

.card:hover .imageInfo {
  transform: scale(1.15);
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

/* ********* */

.solutionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.05rem 1rem;
}

.Container {
  min-height: 10rem;
  position: relative;
  overflow: hidden;
}

.industryDiv {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  background-color: #F5F5F5;
  margin: 0.5rem;
  min-height: 10rem;
}

.industryDiv img {
  height: 5rem;
  width: 5rem;
}

.industryDivs {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  height: 10rem;
  min-width: 10rem;
}

.industryDivs h6 {
  padding-top: 0.25rem;
}

.iImageDiv {
  border-radius: 50%;
  background-color: white;
  color: #080474;
  padding: 0.25rem;
}

/* ******** */
/* LOGIN PAGE CSS */
.mainLoginDiv {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.loginArea {
  display: flex;
}

.credentialsDiv {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000;
  padding: 0.5rem 2rem;
}

.form-group {
  padding: 0.25rem;
  width: 20rem;
}

.socialLogin {
  display: flex;
  flex-direction: column;
  margin: 1.75rem 2rem;
}

.socialLogin div {
  display: flex;
  border-radius: 0.25rem;
  background-color: #F5F5F5;
  margin: 0.5rem;
  padding-left: 0.15rem;
}

.socialLogin a:hover * {
  color: #0d6efd;
}

/* ************* */
/* Registartion Page CSS */
.registrationForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.registrationDiv {
  display: flex;
  justify-content: space-around;
}

.registrationHeading {
  display: flex;
  justify-content: center;
}

.registrationDiv span {
  font-size: 0.75rem;
}

.registrationDiv label span {
  font-size: 1rem;
}

/* *********** */
/* Contact Form CSS */

.cForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  margin: 0.5rem;
  padding: 1rem 0;
}

.cForm div {
  padding: 0.25rem 0.5rem;
}

.cDetails {
  display: flex;
}

.cContact {
  display: flex;
}

.i {
  width: 40rem;
}

.i label {
  padding-top: 0.5rem;
}

.i textarea {
  min-height: 8rem;
}

.cSubmit {
  display: flex;
  justify-content: space-between;
}


.cAddress {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.cSubmitButton {
  margin: 1rem 18rem 2rem 0.75rem;
  max-width: 12rem;
  max-height: 2.5rem;
}

.Asterix {
  padding-left: 5px;
  color: #F00;
}

/* **************************** */

/* CSS MEDIA QUERIES */
@media (max-width:992px) {
  .mainHeader {
    justify-content: space-between;
  }

  #company {
    padding-left: 0.25rem;
  }

  #companyLogo {
    display: none;
  }

  .menu-btn {
    display: inline;
    margin-top: 0.1rem;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .menuBar {
    display: none;
  }

  .bodyContainer {
    margin-left: 0;
  }

  #collapsibleMenu i {
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }

  .bodyContainer {
    margin-left: 0;
  }

  @media (max-width:776px) {
    .searchLanguage {
      padding-right: 0;
    }

    .search-input {
      width: 90%;
    }

    #carouselExampleCaptions {
      display: none;
    }

    .resultsWindow {
      flex-direction: column;
    }

    .contentDesc1 {
      flex-direction: column;
    }

    .resultDescriptions {
      height: 14rem;
      padding: 0;
    }

    .headingText {
      font-size: 1.5rem;
    }

    .weldingCodes div {
      height: 6rem;
      width: 10rem;
      margin: 0.5rem;
      padding: 1rem;
    }

    .weldingCodes h1 {
      font-size: 3rem;
    }

    .weldingCodes span {
      font-size: 0.5rem;
    }

    .credentialsDiv {
      padding: 0 0.5rem 0 0;
    }

    .caContentDivs {
      flex-direction: column;
    }

    .caContent {
      width: 100%;
    }

    .socialLogin {
      margin: 0.5rem 0;
    }
  }

  @media (max-width:576px) {
    .weldingCodes h2 {
      font-size: 1.4rem;
    }

    .registrationDiv {
      flex-direction: column;
    }

    .headingText {
      font-size: 1.25rem;
    }

    .imageArea * {
      height: 15rem;
      width: 15rem;
    }

    .textInfo {
      align-items: center;
    }

    .mainLoginDiv {
      align-items: center;
    }

    .loginArea {
      flex-direction: column;
      align-items: center;
    }

    .credentialsDiv {
      border-right: 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid #000;
      ;
    }

    .cForm {
      padding: 0.5rem 0;
    }

    .cForm p {
      font-size: 0.75rem;
    }

    .cDetails {
      flex-direction: column;
      width: max-content;
    }

    .cContact {
      flex-direction: column;
    }

    .cSubmit {
      flex-direction: column;
    }

    .cSubmitButton {
      margin: 0 0 0 1rem;
    }

    .i {
      width: 20rem;
    }
  }

}